.welcome {

  background: url('./bg.jpg') no-repeat center center;
  background-size: cover;

  min-height: 100vh;


  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {

    .content {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      padding:25px 0;
    }

    .footer {
      color:#fff;
      padding:20px;

      .text {
        font-size:0.8rem;
        font-weight: 300;
        text-align: center;
        letter-spacing: 1px;
      }
    }

  }

  .logo {
    margin: 0 auto;
    display: inline-block;
    max-width: 400px;
    padding: 20px;
  }

  .btn {

    box-shadow: 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse 2s infinite;

    background: transparent;
    color: #fff;
    font-weight: 300;

    transition: all 0.3s;
    letter-spacing: 1px;


    &:hover {
      background: rgba(255, 255, 255, 0.9);
      color:#000;
    }
  }

  .pulse:hover {
    animation: none;
  }

  @keyframes pulse {
    0% {

      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {

      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {

      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
}
