.top-nav {
  border-bottom: 1px solid #ccc;

  .nav-logo {
    background: url('./mtg_small_logo.png') no-repeat center center;
    background-size: contain;


    & > a {
      min-width: 150px;
      padding: 30px;

      top: 2px;
      position: relative;
    }
  }
}
